.trip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-container {
  padding: 0;
  margin-top: 1rem;
}

.box {
  padding: 1rem;
}

.trip-box{
  padding: 1rem;
}

@media (max-width: 600px) {
  .trip {
    display: grid;
    grid-template-columns: 1fr;
  }
}
